extends layout.pug 

block content 
  .row 
    header.col 
      h1 Application Environment Variables
      hr
  .row 
    .col.table-responsive
      table.table
        thead 
          tr 
            th Key 
            th Value 
        tbody 
          each value, key in env 
            tr 
              td=key 
              td
                code=value